:root {
    --beige: #fffaf4;
    --dark-beige: #e0d6c9;
    --brown: #bdae9b;
    --dark-brown: #736451;
  
    --nav-font-size: 20px;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    color: var(--dark-brown);
    background-color: var(--beige);
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    cursor: pointer;
  }
  
  h1 {
    font-size: 70px;
    font-weight: 300;
    line-height: 78px;
  }
  
  h1 span {
    font-weight: 800;
    display: block;
    font-size: 90px;
  }
  
  h2 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding: 45px 0 40px;
  }
  
  li {
    list-style: none;
  }
  
  section {
    padding: 0 8vw;
  }
  
  /* GLOBAL */
  
  .btn-style {
    font-size: 20px;
    font-weight: 700;
    padding: 8px 45px;
    display: block;
    width: fit-content;
  }
  
  .white-btn-style {
    color: var(--dark-brown);
    background-color: var(--beige);
  }
  
  .brown-btn-style {
    background-color: var(--dark-brown);
    color: var(--beige);
  }
  
  .underline {
    text-decoration: underline;
    font-weight: 200;
  }
  
  .underline:visited {
    color: var(--dark-brown);
  }
  
  /* HEADER */
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8vw 8vw;
    position: absolute;
    width: 100%;
  }
  
  .back-button {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
  }
  
  .nav__links {
    display: flex;
  }
  
  .nav__links li a {
    color: var(--dark-brown);
    font-size: var(--nav-font-size);
    margin-left: 3vw;
  }
  
  /* HERO */
  
  .hero {
    background-image: url(img/hero-img.png);
    height: 85vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position-x: center;
  }
  
  .baseline {
    font-size: 24px;
    max-width: 460px;
    margin-top: 40px;
    font-weight: 200;
  }
  
  /* SERVICES */
  
  .services {
    padding-bottom: 2vw;
  }
  
  .services__list {
    display: flex;
    justify-content: space-between;
  }
  
  .services__list li {
    width: 23.6vw;
  }
  
  .service__item {
    display: flex;
    flex-direction: column;
  }
  
  .service__item h3 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 4px;
  }
  
  .service__item p {
    font-weight: 300;
  }
  
  .service__item > img {
    height: 22.9vw;
    width: 100%;
    border-top-right-radius: 100%;
    object-fit: cover;
    object-position: bottom;
    border-top-left-radius: 100%;
  }
  
  .service__item div {
    background-color: #fff;
    padding: 1.18vw 2vw;
  }
  
  .service__item div a {
    display: block;
    width: 28px;
    height: 28px;
    margin-left: auto;
  }
  
  /* GIFT */
  
  .gift {
    background-color: var(--dark-brown);
    display: flex;
    height: 50vh;
    justify-content: space-between;
  }
  
  .gift div {
    max-width: 700px;
  }
  
  .gift h2 {
    text-align: left;
    padding-bottom: 0;
  }
  
  .gift h2,
  .gift p {
    color: var(--beige);
    margin-bottom: 2vw;
  }
  
  .gift p {
    font-size: 20px;
    font-weight: 300;
  }
  
  .gift img {
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    object-fit: cover;
  }
  
  /* POPULAR SECTION */
  
  .popular__list-items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5.5vw;
  }
  
  .popular__item > img {
    height: 18.5vw;
    width: 18.5vw;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .popular__item .heart-icon {
    height: 35px;
    width: 35px;
  }
  
  .popular__item div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .popular__item p {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
  }
  
  .popular__item a {
    font-size: 20px;
  }
  
  .popular__item p img {
    margin-right: 4px;
  }
  
  /* FOOTER */
  
  .footer {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 3vw 8vw;
  }
  
  .footer p {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 2vw;
  }
  
  .footer img {
    height: 35px;
    width: 35px;
    margin-left: 1.5vw;
  }
  
  .footer__right p {
    text-align: right;
  }
  
  .footer__socials {
    display: flex;
    justify-content: flex-end;
  }
  